<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>

            
   
	<!-- ========================================= Footer Section =============================================== -->
	
	<div class="mydiv" th:fragment="footer" >
		<div style="display: flex; justify-content:space-around;
    padding-left: 15px;
    padding-right: 15px; padding-top: 10px;"> <a
			style=" text-decoration: none; color: white;"
			href="/balance">check Balance</a> <a href="/statement"
			style="text-decoration: none; color: white;">Statement</a> <a
			style=" text-decoration: none; color: white;"
			href="/deposit">Deposit</a></div>
		  <hr>
		<p style="text-align: center">Copyright@2022
		<p>
			
	</div>

	<!-- =========================================End Footer Section=================================================== -->
	
</body>
</html>